.mail,.pw{
  margin-left: 20px;
}
.btn{
  margin-top: 15px;
  margin-left: 390px;
  
}
.nmail,.npw{
  margin-left: 270px;
}
.main{
  margin-top: 200px;
  background-color: teal;
  margin-left: 350px;
  width: 50%;
  border: 2px solid brown ;
  border-radius: 10px;
}